<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
  </system.web>
  <appSettings>
    <add key="WEBSITE_NODE_DEFAULT_VERSION_TEST" value="0.10.29" />
  </appSettings>
  <system.webServer>
	<httpErrors>
		<remove statusCode="404" subStatusCode="-1"/ >
		<error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
	</httpErrors>
	<modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>